.check-box .box {

-fx-background-color: transparent;
-fx-border-color: #53277E;
-fx-border-radius:3px;

}

.check-box:selected .mark {

-fx-background-color: #53277E;

}

.check-box:selected .box {

-fx-background-color: transparent;
}